<div class="config-container">
  <form [formGroup]="nodeConfigForm">
    <h3>Edit node</h3>
    <div class="grid">
      <span>Id:</span>
      <input type="text" formControlName="id" required/>
      <span>Label:</span>
      <input type="text" formControlName="label"required />
    </div>
    <div class="row" style="margin-bottom: 0">
      <button (click)="removeNode()">Remove</button>
      <button>Set start</button>
      <button (click)="updateNode()">Save changes</button>
    </div>
    <span class="config-error">{{configErrorState}}</span>
  </form>
  <button class="close-btn">✖</button>
</div>
