.information-card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: grid;
  place-items: center;
}

.information-card-background::before {
  content: "";
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.information-card-container {
  width: 70%;
  height: 95%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  z-index: 2;
  background-color: #e0e0e0;
  position: absolute;
  text-align: center;
  align-items: center;
}

.page-number {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1.15rem;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.content {
  width: 75ch;
  max-width: 90%;
  font-size: 1.2rem;
}

.title,
.subtitle,
.content {
  padding: 0 1.5rem;
}

.image-container {
  margin: 1.25rem 0;
  width: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-container>img {
  margin: auto;
  max-width: 60%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  justify-self: flex-end;
}

.button-container button {
  color: black;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: var(--light-blue);
  color: white;
  padding: 0.5rem 0.75rem;
}

.button-container button:hover {
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
}

.button-container button:disabled {
  background-color: #b3b3b3;
  box-shadow: none;
  cursor: not-allowed;
}

.button-container button:only-child {
  margin: 0 auto;
}