<div class="information-card-background">
  <div class="information-card-container">
    <span class="page-number" *ngIf="_informationCardAmount > 1">1/1</span>
    <h2 class="title">{{ _currentInformation[_activeIndex].title }}</h2>
    <h3 class="subtitle">{{ _currentInformation[_activeIndex].subtitle }}</h3>
    <p class="content">{{ _currentInformation[_activeIndex].content }}</p>
    <div class="image-container">
      <img [src]="image" *ngFor="let image of _currentInformation[_activeIndex].images" />
    </div>
    <div class="button-container">
      <button *ngIf="_singleCard" [disabled]="_singleCard && _activeIndex <= 0" (click)="previousCard()">Previous</button>
      <button *ngIf="currentInformationType === informationTypes.TUTORIAL">Skip tutorial</button>
      <button *ngIf="_singleCard" [disabled]="_singleCard && _activeIndex >= _informationCardAmount - 1" (click)="nextCard()">Next</button>
    </div>
  </div>
</div>
