<p-card>
  <ng-template pTemplate="header"> Set parameters for algorithm execution </ng-template>
  <p-steps [model]="requiredSteps" [readonly]="false"></p-steps>
  <div class="task-container">
    <span>{{ requiredSteps[activeIndex].fullInformation.taskDescription }}</span>
  </div>
  <ul class="selected-nodes-container">
    <li class="selected-nodes-information" *ngFor="let nodeInformation of selectedNodesInformation">
        <span class="node-name">{{ getNodeName(nodeInformation.nodeStepIndex) }}</span>:
        <span class="node-label">{{ nodeInformation.node.label }}</span> 
        ( <span class="node-color" [style.background]="nodeColorOptions[nodeInformation.color].background"></span> )
    </li>
  </ul>
  <div class="button-container">
    <p-button type="button" class="p-button-success"><i class="fa-solid fa-arrow-left margin-right"></i>Back</p-button>
    <p-button type="button" class="p-button-success">Confirm<i class="fa-solid fa-check margin-left"></i></p-button>
    <p-button type="button" class="p-button-success">Next<i class="fa-solid fa-arrow-right margin-left"></i></p-button>
  </div>
</p-card>
