:host ::ng-deep .p-card {
  width: 40rem;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  font-family: "PT Sans", sans-serif;
}

:host ::ng-deep .p-card-header {
  font-size: 1.45rem;
  text-align: center;
}

:host ::ng-deep .p-steps .p-steps-item {
  width: 25%;
}

:host ::ng-deep .p-steps {
  margin-bottom: 30px;
}

:host ::ng-deep .p-steps .p-steps-item .p-menptem-link {
  padding: 0 1em;
  overflow: visible;
}

:host ::ng-deep .p-steps .p-steps-item .p-steps-number {
  background-color: #eff6ff;
  color: #000000;
  display: inline-block;
  border-radius: 50%;
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  text-align: center;
}

:host ::ng-deep .p-steps .p-steps-item .p-steps-title {
  color: #555555;
}

.close-btn {
  top: 0.25rem;
  right: 0.25rem;
  font-size: 1.15rem;
}

.task-container {
  margin-top: -0.5rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container>* {
  margin: auto;
}

i.margin-left {
  margin-left: 0.5rem;
}

i.margin-right {
  margin-right: 0.5rem;
}

.selected-nodes-container {
  font-size: 1.15rem;
  vertical-align: middle;
}

.selected-nodes-information {
  display: flex;
  align-items: center;
}

.selected-nodes-information>* {
  margin: 0 0.25rem;
}

.node-color {
  display: inline-block;
  aspect-ratio: 1;
  height: 1.3rem;
  outline: 1px solid black;
  border-radius: 50%;
}

li:nth-child(odd) .selected-nodes-information .node-color {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 1s;
}

li:nth-child(even) .selected-nodes-information .node-color {
  animation-name: splash;
  animation-timing-function: linear;
  animation-duration: 1s;
}

li+li {
  margin-top: 0.5rem;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-15px);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-3px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes splash {
  0% {
    transform: scale(1, 1);
  }

  33% {
    transform: scale(1.1, .8);
  }

  66% {
    transform: scale(.9, 1.15);
  }
}