:host ::ng-deep .p-card {
  width: 40rem;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

:host ::ng-deep .p-card-header {
  font-size: 1.45rem;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

:host ::ng-deep .p-steps .p-steps-item {
  width: 25%;
}

:host ::ng-deep .p-steps {
  margin-bottom: 30px;
}

:host ::ng-deep .p-steps .p-steps-item .p-menptem-link {
  padding: 0 1em;
  overflow: visible;
}

:host ::ng-deep .p-steps .p-steps-item .p-steps-number {
  background-color: #eff6ff;
  color: #000000;
  display: inline-block;
  border-radius: 50%;
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  text-align: center;
}

:host ::ng-deep .p-steps .p-steps-item .p-steps-title {
  color: #555555;
}

.close-btn {
  top: 0.25rem;
  right: 0.25rem;
  font-size: 1.15rem;
}

.task-container {
  margin-top: -0.5rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container > * {
  margin: auto;
}

i.margin-left {
  margin-left: 0.5rem;
}

i.margin-right {
  margin-right: 0.5rem;
}

.selected-nodes-container {
  font-size: 1.15rem;
  vertical-align: middle;
}

.selected-nodes-information {
  display: flex;
  align-items: center;
}

.selected-nodes-information > * {
  margin: 0 0.25rem;
}

.node-color {
  display: inline-block;
  aspect-ratio: 1;
  height: 1.3rem;
  outline: 1px solid black;
  border-radius: 50%;
}
