.config-container {
    border-radius: 10px;
    background-color: #eeeeee;
    width: fit-content;
    font-family: sans-serif;
    position: relative;
    margin: 0;
    z-index: 10;
  }
  
  .config-container > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  
  .config-container h3 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
  }
  
  .config-container .row {
    margin-bottom: 0.75rem;
    justify-content: space-between;
  }
  
  .config-container .row > button {
    --button-color: #1d83d1;
    margin: 0 0.25rem;
    border-radius: 5px;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    background-color: transparent;
  }
  
  .config-container .row > button:hover {
    background-color: var(--button-color);
    color: white;
    transition: 0.5s;
  }
  
  .config-container .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
  }
  
  .config-container .grid > span {
    text-align: end;
  }
  
  .config-error {
    margin-top: 0.75rem;
    color: #cc1010;
  }
  
  .close-btn {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    transition: transform 0.5s;
  }
  
  .close-btn:hover {
    color: red;
    transform: rotate(90deg);
  }
  