.config-container {
  border-radius: 10px;
  background-color: #eeeeee;
  width: fit-content;
  font-family: "PT Sans", sans-serif;
  position: relative;
  margin: 0;
  z-index: 10;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.15);
  font-family: "PT Sans", sans-serif;
}

.config-container > form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.config-container h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: center;
}

.config-container .row {
  margin-bottom: 0.75rem;
  justify-content: space-between;
}

.config-container .row > button {
  margin: 0 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--medium-blue);
  color: var(--medium-blue);
  background-color: transparent;
  font-size: 1.15rem;
  padding: 0.1rem 0.25rem;
}

.config-container .row > button:hover {
  background-color: var(--medium-blue);
  color: white;
  transition: 0.5s;
}

.config-container .grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-gap: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;

  padding: 5px;
  border: 1px solid var(--medium-blue);
  border-radius: 7.5px;
}

input{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2.5px;
}

.config-container .grid > span {
  text-align: end;
}

.config-error {
  margin-top: 0.75rem;
  color: #cc1010;
}

.close-btn {
  top: 0.25rem;
  right: 0.25rem;
  font-size: 1.15rem;
}
