<div #graphContainer id="graph-container"></div>
<app-graph-element-config
  *ngIf="(elementDialog.position$ | async) && !(algorithmInitializer.initializingProcessActive$ | async)"
  [elementId]="elementDialog.elementId$ | async"
  [elementType]="elementDialog.elementType$ | async"
  [initialLabel]="elementDialog.initialLabel$ | async"
  [position]="elementDialog.position$ | async"
  (update)="updateElement($event)"
  (delete)="deleteElement($event)"
  (close)="closeElementConfigDialog()"
  #configComponent
></app-graph-element-config>
<div id="node-selector-container" *ngIf="algorithmInitializer.initializingProcessActive$ | async">
  <app-algorithm-initializer
    [algorithmGroup]="algorithmInitializer.algorithmGroup$ | async"
    [selectedNodesInformation]="algorithmInitializer.selectedNodesInformation$ | async"
    (updateCurrentNodeSelection)="updateCurrentNodeSelection($event)"
    (confirmInputData)="confirmInputData()"
    (close)="closeInitializingDialog()"
  ></app-algorithm-initializer>
</div>
