#graph-container {
  --background-color: #eeeeee;

  height: 100vh;
  background-color: var(--background-color);
  position: relative;
}

#node-selector-container {
  width: 100%;
  position: absolute;
  top: var(--toolbar-height);
  display: grid;
  place-items: center;
}
