#graph-container {
  --background-color: #eeeeee;

  height: 100vh;
  background-color: var(--background-color);
  position: relative;
}

#node-selector-container {
  width: 100%;
  position: absolute;
  top: var(--toolbar-height);
  display: grid;
  place-items: center;
}

.help-button {
  background-color: transparent;
  color: #6b6b6b;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: calc(var(--toolbar-height) + 1.25rem);
  right: 1.25rem;
  transition-property: scale color;
  transition-duration: 1s;
}

.help-button:hover {
  color: black;
  scale: 1.3;
}
