.toolbar-wrapper {
    --toolbar-height: 3rem;
    --toolbar-background-color: #171e33;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: var(--toolbar-height);
    background-color: var(--toolbar-background-color);
}

button {
    display: block;
}

.dropdown-items-container {
    display: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
}

/*Align the algorithm control items*/
.middle-items {
    display: flex;
}

.middle-items>button {
    margin: 0 0.1rem;
}

.left-items>button,
.right-items>button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
}

/*Show dropdown container if visible is set*/
.right-items .dropdown-items-container.visible {
    display: block;
}

/*Show dropdown container if visible is set*/
.left-items .dropdown-items-container.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}