<div class="toolbar-wrapper">
  <div class="left-items">
    <button class="dropdown-toggle" id="dropdown-toggle-left" (click)="toggleDropdown(toggleDropdownLeft)" #toggleDropdownLeft>
      Graph manipulation <i class="fa-solid fa-arrow-down"></i>
    </button>
    <div class="dropdown-items-container" #dropdownContainerLeft>
      <button (click)="addNode()">Add node</button>
      <button (click)="addEdge()">Add edge</button>
      <button (click)="generateGraph()">Generate Graph</button>
    </div>
  </div>
  <div class="middle-items">
    <button (click)="previousStep()" [disabled]="algorithmService.backwardButtonDisabled$ | async"><i class="fa-solid fa-backward-step" title="Previous algorithm step"></i></button>
    <button (click)="algorithmAutoStepButtonClicked()">
      <i *ngIf="middleButtonState === buttonStates.STOPP" class="fa-solid fa-pause" title="Stopp automatic execution"></i>
      <i *ngIf="middleButtonState === buttonStates.RUN" class="fa-solid fa-play" title="Start automatic execution"></i>
      <i *ngIf="middleButtonState === buttonStates.REPEAT" class="fa-solid fa-repeat" title="Repeat automatic execution"></i>
    </button>
    <button (click)="nextStep()" [disabled]="algorithmService.forwardButtonDisabled$ | async"><i class="fa-solid fa-forward-step" title="Next algorithm step"></i></button>
  </div>
  <div class="right-items">
    <button class="dropdown-toggle" id="dropdown-toggle-right" (click)="toggleDropdown(toggleDropdownRight)" #toggleDropdownRight>
      Select algorithm
      <i class="fa-solid fa-arrow-down"></i>
    </button>
    <div class="dropdown-items-container" #dropdownContainerRight>
      <h6>Traversal</h6>
      <button (click)="selectBFS()">BFS</button>
      <h6>SPSP</h6>
      <button (click)="selectDijkstra()">Dijkstra</button>
      <h6>SSSP</h6>
    </div>
  </div>
</div>
