.toolbar-wrapper {
    --toolbar-background-color: #171e33;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: var(--toolbar-height);
    background-color: var(--toolbar-background-color);
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
}

.dropdown-items-container {
    display: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: calc(1.1 * var(--toolbar-height));
    background-color: var(--toolbar-background-color);
    padding: 0.25rem;

    --dropdown-border-radius: 5px;
    border-radius: var(--dropdown-border-radius);
}

.left-items,
.right-items {
    margin: 0 1rem;
}

/*Align the algorithm control items*/
.middle-items {
    display: flex;
}

.middle-items>button {
    margin: 0 0.1rem;
}

.middle-items>button:disabled {
    color: #262626;
}

.right-items {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Show dropdown container if visible is set*/
.right-items .dropdown-items-container.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Show dropdown container if visible is set*/
.left-items .dropdown-items-container.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-items-container button {
    font-size: 0.85rem;
    padding: 0.4em 0.6em;
    border-radius: var(--dropdown-border-radius);
    transition: background-color .35s;
}

.dropdown-items-container button:hover {
    background-color: #104712;
}