<div class="toolbar-wrapper">
  <div class="left-items">
    <button class="dropdown-toggle" id="dropdown-toggle-left" (click)="toggleDropdown(toggleDropdownLeft)" #toggleDropdownLeft>Graph manipulation</button>
    <div class="dropdown-items-container" #dropdownContainerLeft>
      <button (click)="addNode()">Add node</button>
      <button (click)="addEdge()">Add edge</button>
      <button (click)="generateGraph()">Generate Graph</button>
    </div>
  </div>
  <div class="middle-items">
    <button (click)="previousStep()" [disabled]="backwardButtonDisabled"><i class="fa-solid fa-backward-step"></i></button>
    <button (click)="runPauseAlgorithm()">
      <i *ngIf="middleButtonState === buttonStates.PAUSE" class="fa-solid fa-pause"></i>
      <i *ngIf="middleButtonState === buttonStates.PLAY" class="fa-solid fa-play"></i>
      <i *ngIf="middleButtonState === buttonStates.REPEAT" class="fa-solid fa-repeat"></i>
    </button>
    <button (click)="nextStep()" [disabled]="forwardButtonDisabled"><i class="fa-solid fa-forward-step"></i></button>
  </div>
  <div class="right-items">
    <button class="dropdown-toggle" id="dropdown-toggle-right" (click)="toggleDropdown(toggleDropdownRight)" #toggleDropdownRight>Select algorithm</button>
    <div class="dropdown-items-container" #dropdownContainerRight>
      <button>BFS</button>
    </div>
  </div>
</div>
