@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --toolbar-height: 3rem;

  /*Colors*/
  --light-blue: #00A8E8;
  --medium-blue: #007EA7;
  --dark-blue: #003459;
  --grey: #00171F;
}

body,
html {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: transparent;
  border: none;
  font-size: 1.15rem;
  transition: transform 0.5s;
}

.close-btn:hover {
  color: red;
  transform: rotate(90deg);
}